@font-face {
  font-family: "Google";
  font-style: normal;
  font-weight: 100;
  src: url("https://cdn.glitch.com/9de019d8-670a-4b92-a9da-cf7419a6c1a4%2Fgoogle_sans.ttf?v=1628722970824")
    format("woff");
}